.row {
    margin: 0 auto;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.alert {
    margin-bottom: 0;
    border: 1px solid;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #e4b70a;
    border-color: #e4b70a;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container-wrapper {}

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.container-wrapper--dark {
    background-color: #212529;
    color: white;
}

.callout-container {
    height: 100vh;
    background: url('../images/background-whiskey.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.quotes-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.monthly-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-- Page headers --*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: none;
    background-color: grey;
}

.block-divider--short {
    width: 40px;
}

.block-divider--orange {
    background-color: orange;
}

.block-divider--white {
    background-color: white;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron .lead {
    margin: 25px;
    color: white;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: whitesmoke
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red a {
    color: white
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    font-size: 45px;
    margin-bottom: 20px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}

/* navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*-- table --*/

.table-light th td {
    color: white;
}

/* mailchimp */
#mc_embed_signup_form {
    padding: 0px;
}